
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dynamic DNA</title>
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Preloader -->
    <link rel="stylesheet" href="~/WebinarStyle/css/preloader.css" type="text/css" media="screen, print" />

    @*<link href="~/WebinarStyle/css/preloader.css" rel="stylesheet" />*@
    <!-- Icon Font-->
    <link href="~/WebinarStyle/style.css" rel="stylesheet" />

    <link href="~/WebinarStyle/css/owl.carousel.css" rel="stylesheet" />

    <link href="~/WebinarStyle/css/owl.theme.default.css" rel="stylesheet" />

    <!-- Animate CSS-->

    <link href="~/WebinarStyle/css/animate.css" rel="stylesheet" />
    <!-- Bootstrap -->


    <link href="~/WebinarStyle/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Style -->

    <link href="~/WebinarStyle/css/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link href="~/WebinarStyle/css/responsive.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/lte-ie7.js"></script>

    <![endif]-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>
    <!-- Preloader -->

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>


    <header id="HOME" style="background-position: 50% -125px;">


        <section>
            <div style="Opacity:0.9!important" class="section_overlay ">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/Home/Webinar">Home</a></li>
                                <li><a href="#SERVICE">Dynamic Webinar</a></li>
                                <li><a href="#ABOUT">Broadcast Room</a></li>
                                <li><a href="#TESTIMONIAL">Replay Room</a></li>

                            </ul>
                            @*<a class="navbar-brand" style="position:absolute" href="#"><img src="~/WebinarStyle/images/Logo-1.png" /></a>*@
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container -->
                </nav>
            </div>
        </section>
    </header>
    <br />
    <br />
    <br />
    <br />

    <div class="my">
        <h3 style="text-align:center; color:gray">Hello, thank you for your interest in us, we will contact your shortly! </h3>

    </div>


    <footer>
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer_logo   wow fadeInUp animated">
                            <img src="~/WebinarStyle/images/Logo-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center   wow fadeInUp animated">
                        <div class="social">
                            <h2>Follow us on Here</h2>
                            <ul class="icon_list">
                                <li><a href="https://www.facebook.com/dynamicdna.co.za/?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <!--  <li><a href=""><i class="fa fa-google-plus"></i></a></li> -->
                                <li><a href="https://www.linkedin.com/company/dynamic-dna/"><i class="fa fa-linkedin"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="copyright_text   wow fadeInUp animated">
                            <p>&copy; Dynamic DNA 2020.All Right Reserved By <a href="https://www.dynamicdna.co.za/" target="_blank">Dynamic DNA</a></p>
                            <p>We Develop and Empower</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>











    <!-- =========================
         SCRIPTS
    ============================== -->


    <script src="~/WebinarStyle/js/jquery.min.js"></script>
    <script src="~/WebinarStyle/js/bootstrap.min.js"></script>
    <script src="~/WebinarStyle/js/jquery.nicescroll.js"></script>
    <script src="~/WebinarStyle/js/owl.carousel.js"></script>
    <script src="~/WebinarStyle/js/wow.js"></script>
    <script src="~/WebinarStyle/js/script.js"></script>




</body>

</html>




